<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <div id="main">
        <div id="left">
            <div id="profile">

            </div><hr style="position: relative;top:8%;">
            <h1 id="name">Harsh Patel</h1>
            <h4 id="mail">Eample@gmail.com</h4>
        </div>
        <div id="right">
            <div class="tasklist">
                <div class="boxes">
                    <h1>Pending Tasks</h1>
                </div>
                <div class="boxes">
                    <h1>Completed Tasks</h1>
                </div>
                <div class="boxes">
                    <h1>Upcoming Tasks</h1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>